/*
 * css variables
 * */
:root {
  --image_base_width: 120px;
  --image_base_height: 120px;

  --icon_base_width: 25px;
  --icon_base_height: 25px;
}

/*
 * icons
 * */

.responsive-icon {
  border-radius: inherit;
  max-height: 100%;
  max-width: 100%;
}

.full-icon {
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.icon {
  align-items: center;
  border-radius: 10%;
  display: flex;
  justify-content: center;
}

.icon:hover {
  background-color: silver;
  cursor: pointer;
}

.icon-s-square {
  height: var(--icon_base_height);
  width: var(--icon_base_width);
}

.icon-s-circle {
  border-radius: 50%;
  height: var(--icon_base_height);
  width: var(--icon_base_width);
}

.icon-s-horizontal {
  height: var(--icon_base_height);
  width: calc(var(--icon_base_width) * 1.5);
}

.icon-s-vertical {
  height: calc(var(--icon_base_width) * 1.5);
  width: var(--icon_base_height);
}

.icon-m-square {
  --addW: calc(var(--icon_base_width) * 0.4);
  --addH: calc(var(--icon_base_height) * 0.4);
  height: calc(var(--icon_base_height) + var(--addH));
  width: calc(var(--icon_base_width) + var(--addW));
}

.icon-m-circle {
  --addW: calc(var(--icon_base_width) * 0.4);
  --addH: calc(var(--icon_base_height) * 0.4);
  border-radius: 50%;
  height: calc(var(--icon_base_height) + var(--addH));
  width: calc(var(--icon_base_width) + var(--addW));
}

.icon-m-horizontal {
  --W: calc(var(--icon_base_width) + var(--icon_base_width) * 0.4);
  height: calc(var(--icon_base_height) + var(--icon_base_height) * 0.4);
  width: calc(var(--W) * 1.5);
}

.icon-m-vertical {
  --H: calc(var(--icon_base_height) + var(--icon_base_height) * 0.4);
  height: calc(var(--H) * 1.5);
  width: calc(var(--icon_base_height) + var(--icon_base_height) * 0.4);
}

.icon-l-square {
  --addW: calc(var(--icon_base_width) * 0.8);
  --addH: calc(var(--icon_base_height) * 0.8);
  height: calc(var(--icon_base_height) + var(--addH));
  width: calc(var(--icon_base_width) + var(--addW));
}

.icon-l-circle {
  --addW: calc(var(--icon_base_width) * 0.8);
  --addH: calc(var(--icon_base_height) * 0.8);
  border-radius: 50%;
  height: calc(var(--icon_base_height) + var(--addH));
  width: calc(var(--icon_base_width) + var(--addW));
}

.icon-l-horizontal {
  --W: calc(var(--icon_base_width) + var(--icon_base_width) * 0.8);
  height: calc(var(--icon_base_height) + var(--icon_base_height) * 0.8);
  width: calc(var(--W) * 1.5);
}

.icon-l-vertical {
  --H: calc(var(--icon_base_height) + var(--icon_base_height) * 0.8);
  height: calc(var(--H) * 1.5);
  width: calc(var(--icon_base_height) + var(--icon_base_height) * 0.8);
}

/*
 *images
 * */

.responsive-img {
  border-radius: inherit;
  max-height: 100%;
  max-width: 100%;
}

.full-img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.image {
  align-items: center;
  border-radius: inherit;
  display: flex;
  justify-content: center;
}

.image:hover {
  background-color: white;
}

.image-s-square {
  height: var(--image_base_height);
  width: var(--image_base_width);
}

.image-s-circle {
  border-radius: 50%;
  height: var(--image_base_height);
  width: var(--image_base_width);
}

.image-s-horizontal {
  height: var(--image_base_height);
  width: calc(var(--image_base_width) * 1.5);
}

.image-s-vertical {
  height: calc(var(--image_base_width) * 1.5);
  width: var(--image_base_height);
}

.image-m-square {
  --addW: calc(var(--image_base_width) * 0.4);
  --addH: calc(var(--image_base_height) * 0.4);
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-m-circle {
  --addW: calc(var(--image_base_width) * 0.4);
  --addH: calc(var(--image_base_height) * 0.4);
  border-radius: 50%;
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-m-horizontal {
  --W: calc(var(--image_base_width) + var(--image_base_width) * 0.4);
  height: calc(var(--image_base_height) + var(--image_base_height) * 0.4);
  width: calc(var(--W) * 1.5);
}

.image-m-vertical {
  --H: calc(var(--image_base_height) + var(--image_base_height) * 0.4);
  height: calc(var(--H) * 1.5);
  width: calc(var(--image_base_height) + var(--image_base_height) * 0.4);
}

.image-l-square {
  --addW: calc(var(--image_base_width) * 0.8);
  --addH: calc(var(--image_base_height) * 0.8);
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-l-circle {
  --addW: calc(var(--image_base_width) * 0.8);
  --addH: calc(var(--image_base_height) * 0.8);
  border-radius: 50%;
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-l-horizontal {
  --W: calc(var(--image_base_width) + var(--image_base_width) * 0.8);
  height: calc(var(--image_base_height) + var(--image_base_height) * 0.8);
  width: calc(var(--W) * 1.5);
}

.image-l-vertical {
  --H: calc(var(--image_base_height) + var(--image_base_height) * 0.8);
  height: calc(var(--H) * 1.5);
  width: calc(var(--image_base_height) + var(--image_base_height) * 0.8);
}

.image-xl-square {
  --addW: calc(var(--image_base_width) * 1.2);
  --addH: calc(var(--image_base_height) * 1.2);
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-xl-circle {
  --addW: calc(var(--image_base_width) * 1.2);
  --addH: calc(var(--image_base_height) * 1.2);
  border-radius: 50%;
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-xl-horizontal {
  --W: calc(var(--image_base_width) + var(--image_base_width) * 1.2);
  height: calc(var(--image_base_height) + var(--image_base_height) * 1.2);
  width: calc(var(--W) * 1.5);
}

.image-xl-vertical {
  --H: calc(var(--image_base_height) + var(--image_base_height) * 1.2);
  height: calc(var(--H) * 1.5);
  width: calc(var(--image_base_height) + var(--image_base_height) * 1.2);
}

.image-xxl-square {
  --addW: calc(var(--image_base_width) * 1.6);
  --addH: calc(var(--image_base_height) * 1.6);
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-xxl-circle {
  --addW: calc(var(--image_base_width) * 1.6);
  --addH: calc(var(--image_base_height) * 1.6);
  border-radius: 50%;
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-xxl-horizontal {
  --W: calc(var(--image_base_width) + var(--image_base_width) * 1.6);
  height: calc(var(--image_base_height) + var(--image_base_height) * 1.6);
  width: calc(var(--W) * 1.5);
}

.image-xxl-vertical {
  --H: calc(var(--image_base_height) + var(--image_base_height) * 1.6);
  height: calc(var(--H) * 1.5);
  width: calc(var(--image_base_height) + var(--image_base_height) * 1.6);
}
