/*
 * margins
 * */

/*
 * margin: em
 */

.m-01e {
  margin: 0.1em;
}
.m-02e {
  margin: 0.2em;
}
.m-03e {
  margin: 0.3em;
}
.m-04e {
  margin: 0.4em;
}
.m-05e {
  margin: 0.5em;
}
.m-06e {
  margin: 0.6em;
}
.m-07e {
  margin: 0.7em;
}
.m-08e {
  margin: 0.8em;
}
.m-09e {
  margin: 0.9em;
}
.m-10e {
  margin: 1em;
}
.m-11e {
  margin: 1.1em;
}
.m-12e {
  margin: 1.2em;
}
.m-13e {
  margin: 1.3em;
}
.m-14e {
  margin: 1.4em;
}
.m-15e {
  margin: 1.5em;
}
.m-16e {
  margin: 1.6em;
}
.m-17e {
  margin: 1.7em;
}
.m-18e {
  margin: 1.8em;
}
.m-19e {
  margin: 1.9em;
}
.m-20e {
  margin: 2em;
}

/*
 * margin: rem
 */

.m-01r {
  margin: 0.1rem;
}
.m-02r {
  margin: 0.2rem;
}
.m-03r {
  margin: 0.3rem;
}
.m-04r {
  margin: 0.4rem;
}
.m-05r {
  margin: 0.5rem;
}
.m-06r {
  margin: 0.6rem;
}
.m-07r {
  margin: 0.7rem;
}
.m-08r {
  margin: 0.8rem;
}
.m-09r {
  margin: 0.9rem;
}
.m-10r {
  margin: 1rem;
}
.m-11r {
  margin: 1.1rem;
}
.m-12r {
  margin: 1.2rem;
}
.m-13r {
  margin: 1.3rem;
}
.m-14r {
  margin: 1.4rem;
}
.m-15r {
  margin: 1.5rem;
}
.m-16r {
  margin: 1.6rem;
}
.m-17r {
  margin: 1.7rem;
}
.m-18r {
  margin: 1.8rem;
}
.m-19r {
  margin: 1.9rem;
}
.m-20r {
  margin: 2rem;
}

/*
 * paddings
 * */

/*
 * padding: em 
 */

.p-01e {
  padding: 0.1em;
}
.p-02e {
  padding: 0.2em;
}
.p-03e {
  padding: 0.3em;
}
.p-04e {
  padding: 0.4em;
}
.p-05e {
  padding: 0.5em;
}
.p-06e {
  padding: 0.6em;
}
.p-07e {
  padding: 0.7em;
}
.p-08e {
  padding: 0.8em;
}
.p-09e {
  padding: 0.9em;
}
.p-10e {
  padding: 1em;
}
.p-11e {
  padding: 1.1em;
}
.p-12e {
  padding: 1.2em;
}
.p-13e {
  padding: 1.3em;
}
.p-14e {
  padding: 1.4em;
}
.p-15e {
  padding: 1.5em;
}
.p-16e {
  padding: 1.6em;
}
.p-17e {
  padding: 1.7em;
}
.p-18e {
  padding: 1.8em;
}
.p-19e {
  padding: 1.9em;
}
.p-20e {
  padding: 2em;
}

/*
 * padding: rem
 */

.p-01r {
  padding: 0.1rem;
}
.p-02r {
  padding: 0.2rem;
}
.p-03r {
  padding: 0.3rem;
}
.p-04r {
  padding: 0.4rem;
}
.p-05r {
  padding: 0.5rem;
}
.p-06r {
  padding: 0.6rem;
}
.p-07r {
  padding: 0.7rem;
}
.p-08r {
  padding: 0.8rem;
}
.p-09r {
  padding: 0.9rem;
}
.p-10r {
  padding: 1rem;
}
.p-11r {
  padding: 1.1rem;
}
.p-12r {
  padding: 1.2rem;
}
.p-13r {
  padding: 1.3rem;
}
.p-14r {
  padding: 1.4rem;
}
.p-15r {
  padding: 1.5rem;
}
.p-16r {
  padding: 1.6rem;
}
.p-17r {
  padding: 1.7rem;
}
.p-18r {
  padding: 1.8rem;
}
.p-19r {
  padding: 1.9rem;
}
.p-20r {
  padding: 2rem;
}

/*
 * css variables
 * */
:root {
  --image_base_width: 120px;
  --image_base_height: 120px;

  --icon_base_width: 25px;
  --icon_base_height: 25px;
}

/*
 * icons
 * */

.responsive-icon {
  border-radius: inherit;
  max-height: 100%;
  max-width: 100%;
}

.full-icon {
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.icon {
  align-items: center;
  border-radius: 10%;
  display: flex;
  justify-content: center;
}

.icon:hover {
  background-color: silver;
  cursor: pointer;
}

.icon-s-square {
  height: var(--icon_base_height);
  width: var(--icon_base_width);
}

.icon-s-circle {
  border-radius: 50%;
  height: var(--icon_base_height);
  width: var(--icon_base_width);
}

.icon-s-horizontal {
  height: var(--icon_base_height);
  width: calc(var(--icon_base_width) * 1.5);
}

.icon-s-vertical {
  height: calc(var(--icon_base_width) * 1.5);
  width: var(--icon_base_height);
}

.icon-m-square {
  --addW: calc(var(--icon_base_width) * 0.4);
  --addH: calc(var(--icon_base_height) * 0.4);
  height: calc(var(--icon_base_height) + var(--addH));
  width: calc(var(--icon_base_width) + var(--addW));
}

.icon-m-circle {
  --addW: calc(var(--icon_base_width) * 0.4);
  --addH: calc(var(--icon_base_height) * 0.4);
  border-radius: 50%;
  height: calc(var(--icon_base_height) + var(--addH));
  width: calc(var(--icon_base_width) + var(--addW));
}

.icon-m-horizontal {
  --W: calc(var(--icon_base_width) + var(--icon_base_width) * 0.4);
  height: calc(var(--icon_base_height) + var(--icon_base_height) * 0.4);
  width: calc(var(--W) * 1.5);
}

.icon-m-vertical {
  --H: calc(var(--icon_base_height) + var(--icon_base_height) * 0.4);
  height: calc(var(--H) * 1.5);
  width: calc(var(--icon_base_height) + var(--icon_base_height) * 0.4);
}

.icon-l-square {
  --addW: calc(var(--icon_base_width) * 0.8);
  --addH: calc(var(--icon_base_height) * 0.8);
  height: calc(var(--icon_base_height) + var(--addH));
  width: calc(var(--icon_base_width) + var(--addW));
}

.icon-l-circle {
  --addW: calc(var(--icon_base_width) * 0.8);
  --addH: calc(var(--icon_base_height) * 0.8);
  border-radius: 50%;
  height: calc(var(--icon_base_height) + var(--addH));
  width: calc(var(--icon_base_width) + var(--addW));
}

.icon-l-horizontal {
  --W: calc(var(--icon_base_width) + var(--icon_base_width) * 0.8);
  height: calc(var(--icon_base_height) + var(--icon_base_height) * 0.8);
  width: calc(var(--W) * 1.5);
}

.icon-l-vertical {
  --H: calc(var(--icon_base_height) + var(--icon_base_height) * 0.8);
  height: calc(var(--H) * 1.5);
  width: calc(var(--icon_base_height) + var(--icon_base_height) * 0.8);
}

/*
 *images
 * */

.responsive-img {
  border-radius: inherit;
  max-height: 100%;
  max-width: 100%;
}

.full-img {
  border-radius: inherit;
  height: 100%;
  width: 100%;
}

.image {
  align-items: center;
  border-radius: inherit;
  display: flex;
  justify-content: center;
}

.image:hover {
  background-color: white;
}

.image-s-square {
  height: var(--image_base_height);
  width: var(--image_base_width);
}

.image-s-circle {
  border-radius: 50%;
  height: var(--image_base_height);
  width: var(--image_base_width);
}

.image-s-horizontal {
  height: var(--image_base_height);
  width: calc(var(--image_base_width) * 1.5);
}

.image-s-vertical {
  height: calc(var(--image_base_width) * 1.5);
  width: var(--image_base_height);
}

.image-m-square {
  --addW: calc(var(--image_base_width) * 0.4);
  --addH: calc(var(--image_base_height) * 0.4);
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-m-circle {
  --addW: calc(var(--image_base_width) * 0.4);
  --addH: calc(var(--image_base_height) * 0.4);
  border-radius: 50%;
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-m-horizontal {
  --W: calc(var(--image_base_width) + var(--image_base_width) * 0.4);
  height: calc(var(--image_base_height) + var(--image_base_height) * 0.4);
  width: calc(var(--W) * 1.5);
}

.image-m-vertical {
  --H: calc(var(--image_base_height) + var(--image_base_height) * 0.4);
  height: calc(var(--H) * 1.5);
  width: calc(var(--image_base_height) + var(--image_base_height) * 0.4);
}

.image-l-square {
  --addW: calc(var(--image_base_width) * 0.8);
  --addH: calc(var(--image_base_height) * 0.8);
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-l-circle {
  --addW: calc(var(--image_base_width) * 0.8);
  --addH: calc(var(--image_base_height) * 0.8);
  border-radius: 50%;
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-l-horizontal {
  --W: calc(var(--image_base_width) + var(--image_base_width) * 0.8);
  height: calc(var(--image_base_height) + var(--image_base_height) * 0.8);
  width: calc(var(--W) * 1.5);
}

.image-l-vertical {
  --H: calc(var(--image_base_height) + var(--image_base_height) * 0.8);
  height: calc(var(--H) * 1.5);
  width: calc(var(--image_base_height) + var(--image_base_height) * 0.8);
}

.image-xl-square {
  --addW: calc(var(--image_base_width) * 1.2);
  --addH: calc(var(--image_base_height) * 1.2);
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-xl-circle {
  --addW: calc(var(--image_base_width) * 1.2);
  --addH: calc(var(--image_base_height) * 1.2);
  border-radius: 50%;
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-xl-horizontal {
  --W: calc(var(--image_base_width) + var(--image_base_width) * 1.2);
  height: calc(var(--image_base_height) + var(--image_base_height) * 1.2);
  width: calc(var(--W) * 1.5);
}

.image-xl-vertical {
  --H: calc(var(--image_base_height) + var(--image_base_height) * 1.2);
  height: calc(var(--H) * 1.5);
  width: calc(var(--image_base_height) + var(--image_base_height) * 1.2);
}

.image-xxl-square {
  --addW: calc(var(--image_base_width) * 1.6);
  --addH: calc(var(--image_base_height) * 1.6);
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-xxl-circle {
  --addW: calc(var(--image_base_width) * 1.6);
  --addH: calc(var(--image_base_height) * 1.6);
  border-radius: 50%;
  height: calc(var(--image_base_height) + var(--addH));
  width: calc(var(--image_base_width) + var(--addW));
}

.image-xxl-horizontal {
  --W: calc(var(--image_base_width) + var(--image_base_width) * 1.6);
  height: calc(var(--image_base_height) + var(--image_base_height) * 1.6);
  width: calc(var(--W) * 1.5);
}

.image-xxl-vertical {
  --H: calc(var(--image_base_height) + var(--image_base_height) * 1.6);
  height: calc(var(--H) * 1.5);
  width: calc(var(--image_base_height) + var(--image_base_height) * 1.6);
}

/*
 *colors
 * */

/*
 *colors background
 * */

.aliceBlue-bg {
  background-color: aliceBlue;
}
.antiqueWhite-bg {
  background-color: antiqueWhite;
}
.aqua-bg {
  background-color: aqua;
}
.aquamarine-bg {
  background-color: aquamarine;
}
.azure-bg {
  background-color: azure;
}
.beige-bg {
  background-color: beige;
}
.bisque-bg {
  background-color: bisque;
}
.black-bg {
  background-color: black;
}
.blanchedAlmond-bg {
  background-color: blanchedAlmond;
}
.blue-bg {
  background-color: blue;
}
.blueViolet-bg {
  background-color: blueViolet;
}
.brown-bg {
  background-color: brown;
}
.burlyWood-bg {
  background-color: burlyWood;
}
.cadetBlue-bg {
  background-color: cadetBlue;
}
.chartreuse-bg {
  background-color: chartreuse;
}
.chocolate-bg {
  background-color: chocolate;
}
.coral-bg {
  background-color: coral;
}
.cornflowerBlue-bg {
  background-color: cornflowerBlue;
}
.cornsilk-bg {
  background-color: cornsilk;
}
.crimson-bg {
  background-color: crimson;
}
.cyan-bg {
  background-color: cyan;
}
.darkBlue-bg {
  background-color: darkBlue;
}
.darkCyan-bg {
  background-color: darkCyan;
}
.darkGoldenRod-bg {
  background-color: darkGoldenRod;
}
.darkGray-bg {
  background-color: darkGray;
}
.darkGrey-bg {
  background-color: darkGrey;
}
.darkGreen-bg {
  background-color: darkGreen;
}
.darkKhaki-bg {
  background-color: darkKhaki;
}
.darkMagenta-bg {
  background-color: darkMagenta;
}
.darkOliveGreen-bg {
  background-color: darkOliveGreen;
}
.darkOrange-bg {
  background-color: darkOrange;
}
.darkOrchid-bg {
  background-color: darkOrchid;
}
.darkRed-bg {
  background-color: darkRed;
}
.darkSalmon-bg {
  background-color: darkSalmon;
}
.darkSeaGreen-bg {
  background-color: darkSeaGreen;
}
.darkSlateBlue-bg {
  background-color: darkSlateBlue;
}
.darkSlateGray-bg {
  background-color: darkSlateGray;
}
.darkSlateGrey-bg {
  background-color: darkSlateGrey;
}
.darkTurquoise-bg {
  background-color: darkTurquoise;
}
.darkViolet-bg {
  background-color: darkViolet;
}
.deepPink-bg {
  background-color: deepPink;
}
.deepSkyBlue-bg {
  background-color: deepSkyBlue;
}
.dimGray-bg {
  background-color: dimGray;
}
.dimGrey-bg {
  background-color: dimGrey;
}
.dodgerBlue-bg {
  background-color: dodgerBlue;
}
.fireBrick-bg {
  background-color: fireBrick;
}
.floralWhite-bg {
  background-color: floralWhite;
}
.forestGreen-bg {
  background-color: forestGreen;
}
.fuchsia-bg {
  background-color: fuchsia;
}
.gainsboro-bg {
  background-color: gainsboro;
}
.ghostWhite-bg {
  background-color: ghostWhite;
}
.gold-bg {
  background-color: gold;
}
.goldenRod-bg {
  background-color: goldenRod;
}
.gray-bg {
  background-color: gray;
}
.grey-bg {
  background-color: grey;
}
.green-bg {
  background-color: green;
}
.greenYellow-bg {
  background-color: greenYellow;
}
.honeyDew-bg {
  background-color: honeyDew;
}
.hotPink-bg {
  background-color: hotPink;
}
.indianRed-bg {
  background-color: indianRed;
}
.indigo-bg {
  background-color: indigo;
}
.ivory-bg {
  background-color: ivory;
}
.khaki-bg {
  background-color: khaki;
}
.lavender-bg {
  background-color: lavender;
}
.lavenderBlush-bg {
  background-color: lavenderBlush;
}
.lawnGreen-bg {
  background-color: lawnGreen;
}
.lemonChiffon-bg {
  background-color: lemonChiffon;
}
.lightBlue-bg {
  background-color: lightBlue;
}
.lightCoral-bg {
  background-color: lightCoral;
}
.lightCyan-bg {
  background-color: lightCyan;
}
.lightGoldenRodYellow-bg {
  background-color: lightGoldenRodYellow;
}
.lightGray-bg {
  background-color: lightGray;
}
.lightGrey-bg {
  background-color: lightGrey;
}
.lightGreen-bg {
  background-color: lightGreen;
}
.lightPink-bg {
  background-color: lightPink;
}
.lightSalmon-bg {
  background-color: lightSalmon;
}
.lightSeaGreen-bg {
  background-color: lightSeaGreen;
}
.lightSkyBlue-bg {
  background-color: lightSkyBlue;
}
.lightSlateGray-bg {
  background-color: lightSlateGray;
}
.lightSlateGrey-bg {
  background-color: lightSlateGrey;
}
.lightSteelBlue-bg {
  background-color: lightSteelBlue;
}
.lightYellow-bg {
  background-color: lightYellow;
}
.lime-bg {
  background-color: lime;
}
.limeGreen-bg {
  background-color: limeGreen;
}
.linen-bg {
  background-color: linen;
}
.magenta-bg {
  background-color: magenta;
}
.maroon-bg {
  background-color: maroon;
}
.mediumAquaMarine-bg {
  background-color: mediumAquaMarine;
}
.mediumBlue-bg {
  background-color: mediumBlue;
}
.mediumOrchid-bg {
  background-color: mediumOrchid;
}
.mediumPurple-bg {
  background-color: mediumPurple;
}
.mediumSeaGreen-bg {
  background-color: mediumSeaGreen;
}
.mediumSlateBlue-bg {
  background-color: mediumSlateBlue;
}
.mediumSpringGreen-bg {
  background-color: mediumSpringGreen;
}
.mediumTurquoise-bg {
  background-color: mediumTurquoise;
}
.mediumVioletRed-bg {
  background-color: mediumVioletRed;
}
.midnightBlue-bg {
  background-color: midnightBlue;
}
.mintCream-bg {
  background-color: mintCream;
}
.mistyRose-bg {
  background-color: mistyRose;
}
.moccasin-bg {
  background-color: moccasin;
}
.navajoWhite-bg {
  background-color: navajoWhite;
}
.navy-bg {
  background-color: navy;
}
.oldLace-bg {
  background-color: oldLace;
}
.olive-bg {
  background-color: olive;
}
.oliveDrab-bg {
  background-color: oliveDrab;
}
.orange-bg {
  background-color: orange;
}
.orangeRed-bg {
  background-color: orangeRed;
}
.orchid-bg {
  background-color: orchid;
}
.paleGoldenRod-bg {
  background-color: paleGoldenRod;
}
.paleGreen-bg {
  background-color: paleGreen;
}
.paleTurquoise-bg {
  background-color: paleTurquoise;
}
.paleVioletRed-bg {
  background-color: paleVioletRed;
}
.papayaWhip-bg {
  background-color: papayaWhip;
}
.peachPuff-bg {
  background-color: peachPuff;
}
.peru-bg {
  background-color: peru;
}
.pink-bg {
  background-color: pink;
}
.plum-bg {
  background-color: plum;
}
.powderBlue-bg {
  background-color: powderBlue;
}
.purple-bg {
  background-color: purple;
}
.rebeccaPurple-bg {
  background-color: rebeccaPurple;
}
.red-bg {
  background-color: red;
}
.rosyBrown-bg {
  background-color: rosyBrown;
}
.royalBlue-bg {
  background-color: royalBlue;
}
.saddleBrown-bg {
  background-color: saddleBrown;
}
.salmon-bg {
  background-color: salmon;
}
.sandyBrown-bg {
  background-color: sandyBrown;
}
.seaGreen-bg {
  background-color: seaGreen;
}
.seaShell-bg {
  background-color: seaShell;
}
.sienna-bg {
  background-color: sienna;
}
.silver-bg {
  background-color: silver;
}
.skyBlue-bg {
  background-color: skyBlue;
}
.slateBlue-bg {
  background-color: slateBlue;
}
.slateGray-bg {
  background-color: slateGray;
}
.slateGrey-bg {
  background-color: slateGrey;
}
.snow-bg {
  background-color: snow;
}
.springGreen-bg {
  background-color: springGreen;
}
.steelBlue-bg {
  background-color: steelBlue;
}
.tan-bg {
  background-color: tan;
}
.teal-bg {
  background-color: teal;
}
.thistle-bg {
  background-color: thistle;
}
.tomato-bg {
  background-color: tomato;
}
.turquoise-bg {
  background-color: turquoise;
}
.violet-bg {
  background-color: violet;
}
.wheat-bg {
  background-color: wheat;
}
.white-bg {
  background-color: white;
}
.whiteSmoke-bg {
  background-color: whiteSmoke;
}
.yellow-bg {
  background-color: yellow;
}
.yellowGreen-bg {
  background-color: yellowGreen;
}

/*
 * colors text
 * */

.aliceBlue-txt {
  color: aliceBlue;
}
.antiqueWhite-txt {
  color: antiqueWhite;
}
.aqua-txt {
  color: aqua;
}
.aquamarine-txt {
  color: aquamarine;
}
.azure-txt {
  color: azure;
}
.beige-txt {
  color: beige;
}
.bisque-txt {
  color: bisque;
}
.black-txt {
  color: black;
}
.blanchedAlmond-txt {
  color: blanchedAlmond;
}
.blue-txt {
  color: blue;
}
.blueViolet-txt {
  color: blueViolet;
}
.brown-txt {
  color: brown;
}
.burlyWood-txt {
  color: burlyWood;
}
.cadetBlue-txt {
  color: cadetBlue;
}
.chartreuse-txt {
  color: chartreuse;
}
.chocolate-txt {
  color: chocolate;
}
.coral-txt {
  color: coral;
}
.cornflowerBlue-txt {
  color: cornflowerBlue;
}
.cornsilk-txt {
  color: cornsilk;
}
.crimson-txt {
  color: crimson;
}
.cyan-txt {
  color: cyan;
}
.darkBlue-txt {
  color: darkBlue;
}
.darkCyan-txt {
  color: darkCyan;
}
.darkGoldenRod-txt {
  color: darkGoldenRod;
}
.darkGray-txt {
  color: darkGray;
}
.darkGrey-txt {
  color: darkGrey;
}
.darkGreen-txt {
  color: darkGreen;
}
.darkKhaki-txt {
  color: darkKhaki;
}
.darkMagenta-txt {
  color: darkMagenta;
}
.darkOliveGreen-txt {
  color: darkOliveGreen;
}
.darkOrange-txt {
  color: darkOrange;
}
.darkOrchid-txt {
  color: darkOrchid;
}
.darkRed-txt {
  color: darkRed;
}
.darkSalmon-txt {
  color: darkSalmon;
}
.darkSeaGreen-txt {
  color: darkSeaGreen;
}
.darkSlateBlue-txt {
  color: darkSlateBlue;
}
.darkSlateGray-txt {
  color: darkSlateGray;
}
.darkSlateGrey-txt {
  color: darkSlateGrey;
}
.darkTurquoise-txt {
  color: darkTurquoise;
}
.darkViolet-txt {
  color: darkViolet;
}
.deepPink-txt {
  color: deepPink;
}
.deepSkyBlue-txt {
  color: deepSkyBlue;
}
.dimGray-txt {
  color: dimGray;
}
.dimGrey-txt {
  color: dimGrey;
}
.dodgerBlue-txt {
  color: dodgerBlue;
}
.fireBrick-txt {
  color: fireBrick;
}
.floralWhite-txt {
  color: floralWhite;
}
.forestGreen-txt {
  color: forestGreen;
}
.fuchsia-txt {
  color: fuchsia;
}
.gainsboro-txt {
  color: gainsboro;
}
.ghostWhite-txt {
  color: ghostWhite;
}
.gold-txt {
  color: gold;
}
.goldenRod-txt {
  color: goldenRod;
}
.gray-txt {
  color: gray;
}
.grey-txt {
  color: grey;
}
.green-txt {
  color: green;
}
.greenYellow-txt {
  color: greenYellow;
}
.honeyDew-txt {
  color: honeyDew;
}
.hotPink-txt {
  color: hotPink;
}
.indianRed-txt {
  color: indianRed;
}
.indigo-txt {
  color: indigo;
}
.ivory-txt {
  color: ivory;
}
.khaki-txt {
  color: khaki;
}
.lavender-txt {
  color: lavender;
}
.lavenderBlush-txt {
  color: lavenderBlush;
}
.lawnGreen-txt {
  color: lawnGreen;
}
.lemonChiffon-txt {
  color: lemonChiffon;
}
.lightBlue-txt {
  color: lightBlue;
}
.lightCoral-txt {
  color: lightCoral;
}
.lightCyan-txt {
  color: lightCyan;
}
.lightGoldenRodYellow-txt {
  color: lightGoldenRodYellow;
}
.lightGray-txt {
  color: lightGray;
}
.lightGrey-txt {
  color: lightGrey;
}
.lightGreen-txt {
  color: lightGreen;
}
.lightPink-txt {
  color: lightPink;
}
.lightSalmon-txt {
  color: lightSalmon;
}
.lightSeaGreen-txt {
  color: lightSeaGreen;
}
.lightSkyBlue-txt {
  color: lightSkyBlue;
}
.lightSlateGray-txt {
  color: lightSlateGray;
}
.lightSlateGrey-txt {
  color: lightSlateGrey;
}
.lightSteelBlue-txt {
  color: lightSteelBlue;
}
.lightYellow-txt {
  color: lightYellow;
}
.lime-txt {
  color: lime;
}
.limeGreen-txt {
  color: limeGreen;
}
.linen-txt {
  color: linen;
}
.magenta-txt {
  color: magenta;
}
.maroon-txt {
  color: maroon;
}
.mediumAquaMarine-txt {
  color: mediumAquaMarine;
}
.mediumBlue-txt {
  color: mediumBlue;
}
.mediumOrchid-txt {
  color: mediumOrchid;
}
.mediumPurple-txt {
  color: mediumPurple;
}
.mediumSeaGreen-txt {
  color: mediumSeaGreen;
}
.mediumSlateBlue-txt {
  color: mediumSlateBlue;
}
.mediumSpringGreen-txt {
  color: mediumSpringGreen;
}
.mediumTurquoise-txt {
  color: mediumTurquoise;
}
.mediumVioletRed-txt {
  color: mediumVioletRed;
}
.midnightBlue-txt {
  color: midnightBlue;
}
.mintCream-txt {
  color: mintCream;
}
.mistyRose-txt {
  color: mistyRose;
}
.moccasin-txt {
  color: moccasin;
}
.navajoWhite-txt {
  color: navajoWhite;
}
.navy-txt {
  color: navy;
}
.oldLace-txt {
  color: oldLace;
}
.olive-txt {
  color: olive;
}
.oliveDrab-txt {
  color: oliveDrab;
}
.orange-txt {
  color: orange;
}
.orangeRed-txt {
  color: orangeRed;
}
.orchid-txt {
  color: orchid;
}
.paleGoldenRod-txt {
  color: paleGoldenRod;
}
.paleGreen-txt {
  color: paleGreen;
}
.paleTurquoise-txt {
  color: paleTurquoise;
}
.paleVioletRed-txt {
  color: paleVioletRed;
}
.papayaWhip-txt {
  color: papayaWhip;
}
.peachPuff-txt {
  color: peachPuff;
}
.peru-txt {
  color: peru;
}
.pink-txt {
  color: pink;
}
.plum-txt {
  color: plum;
}
.powderBlue-txt {
  color: powderBlue;
}
.purple-txt {
  color: purple;
}
.rebeccaPurple-txt {
  color: rebeccaPurple;
}
.red-txt {
  color: red;
}
.rosyBrown-txt {
  color: rosyBrown;
}
.royalBlue-txt {
  color: royalBlue;
}
.saddleBrown-txt {
  color: saddleBrown;
}
.salmon-txt {
  color: salmon;
}
.sandyBrown-txt {
  color: sandyBrown;
}
.seaGreen-txt {
  color: seaGreen;
}
.seaShell-txt {
  color: seaShell;
}
.sienna-txt {
  color: sienna;
}
.silver-txt {
  color: silver;
}
.skyBlue-txt {
  color: skyBlue;
}
.slateBlue-txt {
  color: slateBlue;
}
.slateGray-txt {
  color: slateGray;
}
.slateGrey-txt {
  color: slateGrey;
}
.snow-txt {
  color: snow;
}
.springGreen-txt {
  color: springGreen;
}
.steelBlue-txt {
  color: steelBlue;
}
.tan-txt {
  color: tan;
}
.teal-txt {
  color: teal;
}
.thistle-txt {
  color: thistle;
}
.tomato-txt {
  color: tomato;
}
.turquoise-txt {
  color: turquoise;
}
.violet-txt {
  color: violet;
}
.wheat-txt {
  color: wheat;
}
.white-txt {
  color: white;
}
.whiteSmoke-txt {
  color: whiteSmoke;
}
.yellow-txt {
  color: yellow;
}
.yellowGreen-txt {
  color: yellowGreen;
}
